/* Organising the cells for the etch-a-sketch*/
.container {
    margin: 0px;
    padding: 0px;
    width: 1000px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 0px;
}
.cell {
    margin: 0px;
    padding: 0px;
    width: 61.5px;
    height: 61.5px;
    border: .1px solid black;
}

.reset {
    z-index: 999;
    position: absolute;
}