/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* This is where the actual document starts */
/* Setting up variables */
:root {
    --main-bg: #001524;
    --alt-bg: #8B939C;
    --highlight: #EABDA8;
    --alt-highlight: #273B09;
    --contrast: #92140C;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}

/* Also, fixing some stuff from the overrides */

em {
    font-style: italic; /* Default behavior, but might be overridden */
  }

/* Creating the basic outline of the document and organising it using flexbox */
 body {
    display: flex;
 }

.main-section {
    background-color: var(--main-bg);
    width: 65vw;
    height: 100vh;
}

.banner-section {
    background: url("assets/banner_bg.avif");
    width: 35vw;
    min-width: 500px;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Main section organisation */
.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.hero-container {
    width: 90%;
    height: 25%;
    background-color: var(--main-bg);
}

.form-container {
    width: 90%;
    height: 45%;
    background-color: var(--alt-bg);
}

.submit-container {
    width: 90%;
    height: 20%;
    background-color: var(--alt-highlight);
}

/* For hero-container */
.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hero-text {
    font-size: 3rem;
    color: var(--highlight)
}

.hero-cta {
    font-size: 4rem;
    color: var(--highlight);
}