/* Variables */
:root {
    --background-main: #1E201E;
    --background-secondary: #3C3D37;
    --highlight: #697565;
    --highlight-light: #ECDFCC;
    margin: 0px;
    padding: 0px;
}

* {
    font-family: Roboto;
    font-size: 10px;
    overflow: hidden;
}

/* Body responsiveness setup */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

/* Aligning items */
/* Aligning the calculator */
body {
    justify-content: center;
    align-items: center;
}

/* Aligning Screen */
.calculator-container {
    display: flex;
    flex-direction: column;
}

.calculator-screen {
}

/* Aligning buttons */
.calculator-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.buttons-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.buttons-body {
    display: flex;
    justify-content: center;
    gap: 3%;
}

/* Creating a calculator */
.calculator-container {
    width: 40%;
    height: 70%;
}

/* Screen */
.calculator-screen {
    width: 100%;
    height: 30%;
    background-color: var(--background-main);
}

.screen-text {
    color: white;
    font-size: 4rem;
    width: 50%;
}

/* Buttons */
.calculator-buttons {
    width: 100%;
    height: 70%;
    background-color: var(--background-secondary);
    padding: 1% 0;
}

.buttons-upper {
    width: 93%;
    height: 20%;
}

/* Lower Button sections */
.buttons-body {
    width: 93%;
    height: 75%;
    background-color: #697565;    
}

.buttons-operators {
    width: 30%;
    height: 80%;
}

.buttons-keys {
    width: 70%;
    height: 95%;
}


/* Upper buttons */
.upper-button {
    width: 45%;
    height: 80%;
}

/* Lower Buttons */
.body-button {
    /* width: 5rem;
    height: 3rem; */
}

.operator-button {

}