* {
    font-family: Roboto;
    font-size: 10px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

/* Body responsiveness setup */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

/* Aligning items */
/* Aligning the calculator */
body {
    justify-content: center;
    align-items: center;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

/* Aligning Screen */
.calculator-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Aligning buttons */
.calculator-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons-upper {
    display: flex;
    justify-content: space-between;
}

/* Creating a calculator */
.calculator-container {
    border: 2px solid black;
    border-radius: 15px;
    width: 30%;
    height: 60%;
    padding: .3%;
}
/* Screen */
.calculator-screen {
    background-color: lightcyan;
    width: 75%;
    height: 20%;
    padding: 3%;
}

.screen-display {
    background-color: purple;
    border-radius: 15px;
    width: 90%;
    height: 75%;
}

.screen-text {
    text-align: center;
    color: white;
    font-size: 3.5rem;
}

/* Buttons */
.calculator-buttons {
    background-color: lightsalmon;
    width: 85%;
    height: 60%;
    padding: 0px;
}

.buttons-upper {
    background-color: lightyellow;
    width: 100%;
    height: 25%;
}

.buttons-body {
    background-color: lightskyblue;
    width: 100%;
    height: 75%;
}

/* Upper buttons */
.upper-button {
    background-color: gray;
    width: 25%;
    height: 60%;
    margin: 3%;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}